<h1>fave ingredients</h1>

<ul>
    <% if(ingredient.length >0){ %>
    <% ingredient.forEach(ingredient => { %>
        <li><form method="GET" action='/results/<%= ingredient.foodId %> '>
            <input type="hidden" name="uri" value='<%= ingredient.measureUri %>'>
            <input type="hidden" name="foodId" value="<%= ingredient.foodId %>">
            <input type="hidden" name="quantity" value='1'>
            <input type="submit" name="foodLabel" value="<%= ingredient.name %> | <%= ingredient.healthLabel %>">
            </form>
            </li>
        <form method="POST" action='/faveingredients/<%= ingredient.foodId %> ?_method=DELETE'>
            <input type="hidden" name="id" value="<%=ingredient.id%>">
            <input type="hidden" name="foodId" value="<%=ingredient.foodId%>">
            <input type="submit" value="Remove from favorites">
        </form>
        </li>
    <% })} else{ %>
        <li><%= 'There are no saved ingredients.' %></li>
    <% }; %>
</ul>