<div class="widebody">
<div class="body recipestyles">
<h1>Recipes I dislike</h1>

<div class="listingthings">
<ul>
    <% if(recipe.length >0){ %>
    <% recipe.forEach(recipe => { %>
        <li><form method="GET" action='/results/recipedetails/<%= recipe.recipeId %> '>
            <input type="hidden" name="recipeId" value="<%= recipe.recipeId %>">
            <input type="submit" name="foodLabel" value="<%= recipe.name %> | <%= recipe.healthLabel %>">
            </form>
        <form method="POST" action='/dislikerecipes/<%= recipe.foodId %> ?_method=DELETE'>
            <input type="hidden" name="id" value="<%=recipe.id%>">
            <input type="hidden" name="foodId" value="<%=recipe.recipeId%>">
            <input type="submit" value="Remove from dislikes">
        </form>
        </li>
    <% })} else{ %>
        <li><%= 'Really? You like everything? I call shenanigans. Let the hate flow through you.' %></li>
    <% }; %>
</ul>
</div>

<div class="search">
<h3>I want to search for</h3>

<form method=GET action="/results">
    <select name="searchtype">
            <option value="food" name="food">an Ingredient</option>
            <option value="recipe" name="recipe">a Recipe</option>
            </select>
    <input type='text' name="searchterm">
    <input type='submit' value='search'>    
</form>
</div>
</div>
</div>