<div class="body fooddetails">

<% let foodName = chosenOne.ingredients[0].parsed[0].food%>
<% let healthLabelVegan = chosenOne.healthLabels.find(element => element === "VEGAN"); %>
<% let healthLabelVegetarian = chosenOne.healthLabels.find(element => element === "VEGETARIAN"); %>
<% let healthLabel; %>
<% let isVegan = false %>
<% let isVegetarian = false %> 
<% let foodIngredientsLabel; %>
<% console.log(!chosenOne.ingredients[0].parsed[0].foodContentsLabel); %>
<% if(chosenOne.ingredients[0].parsed[0].foodContentsLabel){ %>
    <% foodIngredientsLabel = chosenOne.ingredients[0].parsed[0].foodContentsLabel %>
    <% } else { %>
    <% foodIngredientsLabel = foodName %>     
<% }%> 
    <% foodName = foodName.toLowerCase() %>
    <% foodIngredientsLabel = foodIngredientsLabel.toLowerCase() %>
    <% let regex = /(\b[a-z](?!\s))/g; %>
    <% foodName = foodName.replace(regex, function(x){ %>
        <% return x.toUpperCase(); %>
    <% }); %>
    <% foodIngredientsLabel = foodIngredientsLabel.replace(regex, function(x){ %>
        <% return x.toUpperCase(); %>
    <% }); %>
<h1>The Deets on...</h1> 
<h1><%= foodName %></h1>
<div class="ingredientdetails">
<% if (healthLabelVegan){ %>
    <%  healthLabel = 'Vegan' %>
    <% isVegan = true %>
    <% isVegetarian = false%>
<% } else if(healthLabelVegetarian){ %>
    <% healthLabel = 'Vegetarian' %>
    <% isVegan = false%>
    <% isVegetarian = true %>
<% } else { healthLabel = 'Item has not been rated as Vegan or Vegetarian'} %>

<p>
    <%= (isVegan) ? 'Vegan' : (isVegetarian) ? 'Vegetarian' : '${healthLabel}' %>
</p>
<p>
    <%= foodIngredientsLabel %>
</p>

<form method="GET" action="/results/recipesincluding/<%=foodName%>">
    <input type="hidden" name="<%=foodName%>" value="<%=foodName%>">
    <input type="submit" name="foodLabel" value="Find recipes including this item">
</form>

<p>This item may contain:</p>
<ul>
    <%//TODO fix regex so it removes underscores and replaces it with a space%>
    <% chosenOne.cautions.forEach(allergen =>{ %>
        <li><%= allergen.toLowerCase().replace(regex, function(x){return x.toUpperCase()})%></li>
    <% }) %> 
</ul>



<form method="POST" action="/faveingredients">
    <input type="hidden" name="name" value="<%= chosenOne.ingredients[0].parsed[0].food %>">
    <input type="hidden" name="foodId" value="<%= chosenOne.ingredients[0].parsed[0].foodId %>">
    <input type="hidden" name="quantity" value="<%= chosenOne.ingredients[0].parsed[0].quantity %>">
    <input type="hidden" name="measureURI" value="<%= chosenOne.ingredients[0].parsed[0].measureURI %>">
    <input type="hidden" name="healthLabel" value="<%= healthLabel %>">
    <input type="submit" name="likedingredient" value="Save to favorites">
</form>

<form method="POST" action="/dislikeingredients">
    <input type="hidden" name="name" value="<%= chosenOne.ingredients[0].parsed[0].food %>">
    <input type="hidden" name="foodId" value="<%= chosenOne.ingredients[0].parsed[0].foodId %>">
    <input type="hidden" name="quantity" value="<%= chosenOne.ingredients[0].parsed[0].quantity %>">
    <input type="hidden" name="measureURI" value="<%= chosenOne.ingredients[0].parsed[0].measureURI %>">
    <input type="hidden" name="healthLabel" value="<%= healthLabel %>">
    <input type="submit" name="dislikedingredient" value="Save to dislikes">
</form>


</div>

</div>