<h1>DETAILS</h1>

<% let foodName = chosenOne.ingredients[0].parsed[0].food%>
<% let healthLabelVegan = chosenOne.healthLabels.find(element => element === "VEGAN"); %>
<% let healthLabelVegetarian = chosenOne.healthLabels.find(element => element === "VEGETARIAN"); %>
<% let healthLabel; %>
<% let foodIngredientsLabel = chosenOne.ingredients[0].parsed[0].foodContentsLabel%> 
    <% foodName = foodName.toLowerCase() %>
    <% foodIngredientsLabel = foodIngredientsLabel.toLowerCase() %>
    <% let regex = /(\b[a-z](?!\s))/g; %>
    <% foodName = foodName.replace(regex, function(x){ %>
        <% return x.toUpperCase(); %>
    <% }); %>
    <% foodIngredientsLabel = foodIngredientsLabel.replace(regex, function(x){ %>
        <% return x.toUpperCase(); %>
    <% }); %>

<h2>
    <%= foodName %>
</h2>
<% let isVegan = "VEGAN" %>
<% let isVegetarian = "VEGETARIAN" %> 
<p>
    <%= (isVegan) ? 'Vegan' : (isVegetarian) ? 'Vegetarian' : 'Item has not been rated Vegan or Vegetarian' %>
</p>
<p>
    <%= foodIngredientsLabel %>
</p>

<form method="GET" action="/results/recipesincluding/<%=foodName%>">
    <input type="hidden" name="<%=foodName%>" value="<%=foodName%>">
    <input type="submit" name="foodLabel" value="Find recipes including this item">
</form>

<p>This item may contain:</p>
<ul>
    <% chosenOne.cautions.forEach(allergen =>{ %>
        <li><%= allergen.toLowerCase().replace(regex, function(x){return x.toUpperCase()})%></li>
    <% }) %> 
</ul>

<% if (healthLabelVegan){ %>
    <%  healthLabel = 'Vegan' %>
<% } else if(healthLabelVegetarian){ %>
    <% healthLabel = 'Vegetarian' %>
<% } else { healthLabel = 'Neither Vegetarian or Vegan'} %>

<form method="get" action="views/fave/faveingredients">
    <input type="hidden" name="name" value="<%= chosenOne.ingredients[0].parsed[0].food %>">
    <input type="hidden" name="foodId" value="<%= chosenOne.ingredients[0].parsed[0].foodId %>">
    <input type="hidden" name="quantity" value="<%= chosenOne.ingredients[0].parsed[0].quantity %>">
    <input type="hidden" name="measureURI" value="<%= chosenOne.ingredients[0].parsed[0].measureURI %>">
    <input type="hidden" name="healthLabel" value="<%= healthLabel %>">
    <input type="submit" name="likedingredient" value="Save to favorites">
</form>

<form method="POST" action="/dislike/dislikeingredients">
    <input type="hidden" name="name" value="<%= chosenOne.ingredients[0].parsed[0].food %>">
    <input type="hidden" name="foodId" value="<%= chosenOne.ingredients[0].parsed[0].foodId %>">
    <input type="hidden" name="quantity" value="<%= chosenOne.ingredients[0].parsed[0].quantity %>">
    <input type="hidden" name="measureURI" value="<%= chosenOne.ingredients[0].parsed[0].measureURI %>">
    <input type="hidden" name="healthLabel" value="<%= healthLabel %>">
    <input type="submit" name="dislikedingredient" value="Save to dislikes">
</form>




