<img src="<%= recipeDetails.image %> ">
<h1><%= recipeDetails.label %></h1>
<p>source: <a href="<%=recipeDetails.url%>"> <%= recipeDetails.source %> </a></p>

<p>Ingredients</p>
<ul>
    <% recipeDetails.ingredientLines.forEach(ingredient =>{ %>
        <li><%= ingredient %></li>
    <% }) %> 
</ul>

<p>Health Labels</p>
<ul>
    <% recipeDetails.healthLabels.forEach(label =>{ %>
        <li><%= label %></li>
    <% }) %> 
</ul>