<% let healthLabelVegan = recipeDetails.healthLabels.find(element => element == "Vegan"); %>
<% let healthLabelVegetarian = recipeDetails.healthLabels.find(element => element == "Vegetarian"); %>
<% let healthLabel; %>
<% let recipeLabel = recipeDetails.label %> 
    <% recipeLabel = recipeLabel.toLowerCase() %>
    <% let regex = /(\b[a-z](?!\s))/g; %>
    <% recipeLabel = recipeLabel.replace(regex, function(x){ %>
        <% return x.toUpperCase(); %>
    <% }); %>
<% let searchUri = recipeDetails.uri; %>
<% let uriArr = searchUri.split(''); %>
<%  while(uriArr[0] != 'r'){ %>
    <%    uriArr.shift() %>
<% } %>
<% let recipeId = uriArr.join(''); %>

<h1><%= recipeDetails.label %></h1>

<img src="<%= recipeDetails.image %> " alt="<%=recipeDetails.label %>">
<p>Additional Details: <a href="<%=recipeDetails.url%>" target=_blank> <%= recipeDetails.source %> </a></p>

<p>Ingredients</p>
<ul>
    <% recipeDetails.ingredientLines.forEach(ingredient =>{ %>
        <li><%= ingredient %></li>
    <% }) %> 
</ul>

<p>Health Labels</p>
<% if (healthLabelVegan){ %>
    <%  healthLabel = 'Vegan' %>
    <p><%= healthLabel %> </p>
<% } else if(healthLabelVegetarian){ %>
    <% healthLabel = 'Vegetarian' %>
    <p><%= healthLabel %> </p>
<% } else { %>
    <% healthLabel = 'Item has not been rated vegetarian or vegan.'%>
    <p><%= healthLabel %> </p>
<%} %>

<form method="POST" action="/faverecipes">
    <input type="hidden" name="name" value="<%= recipeDetails.label%>">
    <input type="hidden" name="recipeId" value="<%= recipeId %>">
    
    <input type="hidden" name="ingredients" value="<%= recipeDetails.ingredientLines %>">
    <input type="hidden" name="healthLabel" value="<%= healthLabel %>">
    <input type="submit" name="likedrecipe" value="Save to favorites">
</form>

<form method="POST" action="/dislikerecipes">
    <input type="hidden" name="name" value="<%= recipeDetails.label %>">
    <input type="hidden" name="recipeId" value="<%= recipeId %>">
    <input type="hidden" name="ingredients" value="<%= recipeDetails.ingredientLines %>">
    <input type="hidden" name="healthLabel" value="<%= healthLabel %>">
    <input type="submit" name="dislikedingredient" value="Save to dislikes">
</form>
